

<style>
  pre {
    background: #000;
    color:#FFF;
    border: solid 1px #999;
    padding: 10px;
    height: 50vh;
  }
</style>
<div class="container-fluid">
  <h3 class="title">Vagrant output process</h3>
  <div>
    <h6 id="step"></h6>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" id="progressbar"></div>
  </div>
  <p></p>
  <pre id="console-output">
  </pre>
</div>
<script>

  function console_output() {
    let url = window.location.origin
    fetch(url + '/vagrant/consoleoutput?vm_name={{ vm_name }}', {
      method: 'GET'
    })
      .then(function (data) {
        return data.json()
      })
      .then(function (data) {
        // progress
        let progressbar = document.getElementById('progressbar')
        let step = document.getElementById('step')
        prog = data['data']['progress']
        prog = prog.replace('%', '')
        prog = parseInt(prog)
        progressbar.style = 'width: ' + prog + '%'
        // Step
        step.innerHTML = data['data']['step'];
        // Output
        let console_output = document.getElementById('console-output')
        console_output.innerHTML = data['data']['output']
        console_output.scrollBy(0, 9999999)
        // finished
        finished = data['data']['finished']
        console.log(finished)
        if (finished == true) {
          clearInterval(output_timer)
          progressbar.classList.remove('progress-bar-animated', 'progress-bar-striped')
          step.innerHTML = 'Finished!';
          progressbar.style = 'width: 100%'
          // Error
          error = data['data']['error']
          if(error == true) {
            progressbar.classList.add('bg-danger')
            progressbar.style = 'width: 100%'
            console_output.innerHTML = data['data']['error_content']
          } else {
            progressbar.classList.add('bg-success')
          }
        }
      })

  }

  var output_timer = setInterval(() => {
    console_output()
  }, 1000)

</script>